--- 
layout: default 
---

<article class="prose prose-p:py-2 mb-10">
  <h2 class="prose-title">
    {{ page.title }}
  </h2>
  <p>{{ page.date | date_to_long_string }}</p>
  <img src="{{ page.img }}" class="pt-2" style="max-height:34rem;">
  {{ content }}
</article>

{% if site.prev-next %}
  <div class="post__paginate border-t border-slate-900 pt-2 mt-4">
    {% if page.next.url %}
      <span class="post__paginate-left max-w-sm">
        <a href="{{ site.url }}{{ page.next.url | relative_url }}">{{ page.next.title }}</a>
      </span>
    {% endif %}

    {% if page.previous.url %}
      <span class="post__paginate-right max-w-sm">
        <a href="{{ site.url }}{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a>
      </span>
    {% endif %}
  </div>
{% endif %}

{% include lists/notes.html uid=page.id %}
