---
layout: default 
---
<div class="flex flex-wrap my-12 justify-between">
  <div class="max-w-full">
    <article class="prose prose-p:py-2">
      <h2 class="prose-title">
        {{ page.title }} <span class="italic text-yellow-800"> — {{ page.tagline }}</span>
      </h2>
    </article>
      {% if page.show_img %}{% include figure.html src=page.img caption=page.img_caption %}{% endif %}
    <article class="prose prose-p:py-2 mb-10">
      {{ content }}
    </article>
  </div>
  <div class="max-w-full">
    {% if page.links %}
    <h3 class="text-2xl pb-2">Links</h3>
    <ul>
    {% for link in page.links %}
      <li class="my-2">
        <a href="{{ link.url }}" target="_none">{{ link.label }}</a>
      </li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

{% if page.order %}
{% assign collection = site[page.collection] |  sort: "order" %}
{% else %}
{% assign collection = site[page.collection] | sort: "date" | reverse %}
{% endif %}
{% assign i = 0 %}
{% assign max = collection | size %}
{% for item in collection %}
  {% if item.id == page.id %}
    {% assign previdx = i | minus: 1 %}
    {% assign prev = collection[previdx] %}
    {% assign nextidx = i | plus: 1 %}
    {% assign next = collection[nextidx] %}

    <div class="post__paginate border-t border-slate-900 pt-2 mt-4">
      {% unless previdx < 0 %}
      <span class="post__paginate-left">
        <a href="{{ site.url }}{{ prev.url | relative_url }}">{{ prev.title }}</a>
      </span>
      {% endunless %}

      {% unless nextidx >= max %}
      <span class="post__paginate-right">
        <a href="{{ site.url }}{{ next.url | relative_url }}">{{ next.title }}</a>
      </span>
      {% endunless %}
    </div>
    {% break %}
  {% else %}
    {% assign i = i | plus: 1 %}
  {% endif %}
{% endfor %}
<br>
<br>
<br>
<br>