/* marii custom scss */
.logo {
  img {
    margin-left: 0 !important;
    margin-bottom: 1rem !important;
  }
}

#results {
  text-align: left;
  margin: 1em 0 1em 0;
  .result {
    padding: 1em 1em 1em 0;
  }
}
