{% if site.data.books %}
  <ul class="rows">
    <li class="row__cols">
      <div class="row__title">
        Title
      </div>
      <div class="row__date">
        Author
      </div>
    </li>
    {% assign sorted = site.data.books | reverse %}
    {% for book in sorted %}
      <li class="row__post">
        <div class="row__title">
          <a href="{{ book.link | absolute_url }}" target="_blank">{{ book.title }}</a>
        </div>
        <div class="row__date">
          {{ book.author}}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
