{% if site.data.games %}
  <ul class="rows">
    <li class="row__cols">
      <div class="row__title">
        What I'm Playing
      </div>
      <div class="row__date">
        Developer
      </div>
    </li>
    {% assign sorted = site.data.games | reverse %}
    {% for game in sorted %}
      <li class="row__post">
        <div class="row__title">
          <a href="{{ game.link | absolute_url }}" target="_blank">{{ game.title }}</a> <span class="alt-font">({{ game.console }})</span>
        </div>
        <div class="row__date">
          {{ game.developer}}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
