{% if site.projects %}
<ul class="rows">
  <li class="row__cols">
    <div class="row__title"> Projects </div>
    <div class="row__date">
       Date
    </div>
    <div class="row__cat">
      Category
    </div>
  </li>
  {% assign sorted = site.projects | sort: "date" | reverse %} {% for post in
  sorted %}
  <li class="row__post">
    <div class="row__title {% if include.uid == post.id %}row__active{% endif %}">
      <a href="{{ site.url }}{{ post.url | relative_url }}">{{ post.title }}</a>
    </div>
    <div class="row__date {% if include.uid == post.id %}row__active{% endif %}">{{ post.time_period }}</div>
    <div class="row__cat {% if include.uid == post.id %}row__active{% endif %}">
      {{ post.category }}
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}
