<style>
    [data-tooltip]{
        cursor: pointer;
        position: relative;
        display:inline-block;
    }
            
    [data-tooltip]:before, 
    [data-tooltip]:after {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        z-index: 99;

        left: 50%;
        bottom: 100%;
        transition: all 0.1s linear;
    }

    [data-tooltip]:hover::before, 
    [data-tooltip]:hover::after, 
    [data-tooltip]:focus::before, 
    [data-tooltip]:focus::after {
        visibility: visible;
        opacity: 1;
        transform: translateY(-6px);
    }
    
    [data-tooltip]::before {
        margin-bottom: -7px;
        content: '';
        border-width: 6px;
        border-style: solid;
        border-color: transparent;
        border-top-color: #444140;
    }
        
    [data-tooltip]::after {
        height: 22px;
        padding: 8px 8px 4px;
        margin-left: -20px;
        margin-bottom: 5px;
        border-radius: 8px;

        font-size: 14px;
        content: attr(data-tooltip); 
        white-space: nowrap;

        background-color: #444140;
        color: #ecf0f1;
    }
</style>

<br>

{% for item in site.data.social %}
    <a href="{{ item.url }}"
        {% if item.external %}
        target="_blank"
        {% endif %}

        {% if item.id %}
        id="{{ item.id }}"
        {% endif %} 

        {% if item.data-tooltip %}
        data-tooltip="{{ item.data-tooltip }}"
        {% endif %}
    >{{ item.title }}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
{% endfor %}


<script>
    const tooltip = document.getElementById('email-tooltip');
    function responseTextChange(){
        tooltip.getAttributeNode('data-tooltip').value = "Copied!";
    }
    function responseTextReset(){
        tooltip.getAttributeNode('data-tooltip').value = "Copy to Clipboard";
    }
    tooltip.addEventListener('click', () => {
        navigator.clipboard.writeText("m.s.nyrop@gmail.com")
        .then(() => {
            responseTextChange();   
            tooltip.addEventListener('mouseleave', () => {
                setTimeout(function(){
                    responseTextReset();
                },200);
            });       
        })  
        .catch(() => {
            alert('Failed to copy text');
        });
    });
</script>