@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@font-face {
  font-family: "blocus";
  src: url("./fonts/blocuswebfont.woff") format("woff");
}
* {
  box-sizing: border-box;
}

::selection {
  background: #fefeca;
}

::-moz-selection {
  background: #fefeca;
}

hr {
  color: #604242;
  background-color: #604242;
}

.alt-font {
  font-family: "blocus", serif;
  font-weight: bold;
}

.lg {
  font-size: 2.5rem;
}

a {
  color: #604242;
  text-decoration: none !important;
  background-image: linear-gradient(120deg, #d5cece 0%, #fde97e 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
a:hover {
  background-size: 100% 88%;
  text-decoration: none;
}

a.no-magic {
  background-image: unset;
  background-repeat: unset;
  background-size: unset;
  background-position: unset;
  transition: background-size unset;
}
a.no-magic:hover {
  background-size: unset;
}

a:has(img) {
  background-image: unset;
  background-repeat: unset;
  background-size: unset;
  background-position: unset;
  transition: background-size unset;
}
a:has(img):hover {
  background-size: unset;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: #604242;
}

body {
  width: 100%;
  background: #f8f8f1;
  color: #604242;
  font-family: "Jost", monospace;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}

.wavy-underline {
  text-decoration: underline wavy !important;
  text-underline-offset: 0.8rem;
}

.wavy-heading {
  text-decoration: underline wavy !important;
  text-underline-offset: 0.8rem;
  font-family: "blocus", serif;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.prose {
  color: #604242 !important;
}
.prose b, .prose strong, .prose i, .prose p, .prose a, .prose h1, .prose h2, .prose h3, .prose h4, .prose h5 {
  color: unset !important;
}
.prose .prose-title {
  font-size: 2rem !important;
  line-height: 2.5rem !important;
  margin-bottom: 1rem !important;
}

.bio {
  max-width: 500px;
  margin-bottom: 50px;
}

.bio__header {
  margin-bottom: 20px;
  font-weight: 700;
}
.bio__header a {
  text-decoration: none;
}
.bio__header a:hover {
  text-decoration: none;
}

.bio__social {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.rows {
  position: relative;
  width: 100%;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.row__img {
  display: none;
  position: fixed;
  max-width: 500px;
  max-height: 500px;
  top: 15vh;
  left: 397px;
  z-index: -1;
  opacity: 0;
  transition: opacity 500ms;
}

.row__cols,
.row__post {
  display: block;
  margin-bottom: 10px;
}

.row__cols {
  font-weight: 700;
  overflow: hidden;
  padding-bottom: 0.85rem;
}

.row__post {
  width: 100%;
  overflow: hidden;
  padding-top: 0.5rem;
}

.row__title,
.row__date,
.row__cat {
  float: left;
}

.row__title {
  width: 100%;
}

.row__date,
.row__cat {
  width: auto;
}

.row__cat {
  position: relative;
  margin-left: 10px;
}
.row__cat:after {
  position: absolute;
  content: "";
}

.row__body {
  margin: 20px 0;
}

@media screen and (min-width: 800px) {
  .row__post:hover .row__img {
    display: block;
    opacity: 0.5;
  }
  .row__post:nth-child(2n) .row__img {
    top: 29vh;
    left: 333px;
  }
  .row__post:nth-child(3n) .row__img {
    top: 24vh;
    left: 192px;
  }
  .row__post:nth-child(4n) .row__img {
    top: 33vh;
    left: 240px;
  }
  .row__post:nth-child(5n) .row__img {
    top: 2vh;
    left: 320px;
  }
}
@media screen and (min-width: 600px) {
  .row__cols,
  .row__post {
    margin: 0;
  }
  .row__title {
    width: 50%;
  }
  .row__date,
  .row__cat {
    width: 25%;
  }
  .row__cat {
    margin: 0;
  }
  .row__cat:before {
    content: "";
  }
}
.row__cols .row__title,
.row__cols .row__date,
.row__cols .row__cat {
  text-decoration: underline wavy !important;
  text-underline-offset: 0.8rem;
  font-family: "blocus", serif;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.post__meta {
  margin: 30px 0 20px;
  overflow: hidden;
  font-weight: 700;
}

.project__meta {
  padding-bottom: 1rem;
  font-weight: 700;
}

.project__title {
  font-family: "blocus", serif;
  font-size: 3.5rem;
  max-width: 46ch;
  font-weight: lighter;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.post__paginate {
  overflow: hidden;
}

.post__paginate-left,
.post__paginate-right {
  position: relative;
  display: block;
}

.post__paginate-left {
  padding-left: 13px;
  float: left;
}
.post__paginate-left:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "⇽";
}

.post__paginate-right {
  padding-right: 13px;
  text-align: right;
  float: right;
}
.post__paginate-right:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "⇾";
}

.post__body {
  padding-bottom: 20px;
  font-family: "Jost", sans-serif;
  font-weight: lighter;
  margin-top: 2rem;
  border-bottom: 1px solid #604242;
  line-height: 1.5em;
  font-size: 1.15em;
}
.post__body strong, .post__body b {
  font-weight: 600;
}
.post__body img, .post__body iframe {
  max-width: 600px;
  max-height: 600px;
  max-width: 100%;
}
.post__body pre, .post__body code {
  font-size: 12px;
  margin-left: 0;
  max-width: 100%;
}
.post__body code {
  max-width: 90ch;
}
.post__body h1, .post__body h2, .post__body h3, .post__body h4 {
  max-width: 40ch;
}
.post__body p, .post__body li, .post__body dl {
  max-width: 65ch;
}
.post__body img {
  max-width: 100%;
}

@media screen and (min-width: 800px) {
  .post {
    min-width: 500px;
  }
}
img.shadow {
  box-shadow: 2px 2px 2pc olive;
  margin: 3pc 0 3pc 0;
}

img.fullwidth {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */