{% if site.posts %}
  <ul class="rows">
    <li class="row__cols">
      <div class="row__title">
        {% if site.post_title %}
          {{ site.post_title }}
        {% else %}
          Title
        {% endif %}
      </div>
      <div class="row__date">
          Date
      </div>
      <div class="row__cat">
        {% if site.post_cat %}
          {{ site.post_cat }}
        {% else %}
          Category
        {% endif %}
      </div>
    </li>
    {% for post in site.posts %}
      <li class="row__post">
        <div class="row__title {% if include.uid == post.id %}row__active{% endif %}">
          <a href="{{ site.url }}{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </div>
        <div class="row__date {% if include.uid == post.id %}row__active{% endif %}">
          {{ post.time_period }}
        </div>
        <div class="row__cat {% if include.uid == post.id %}row__active{% endif %}">{{ post.tags }}</div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
