{% if site.software %}

<div class="row__cols mt-3">
  <div class="row__title">Software Projects</div>
</div>

<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 mt-4 mb-8">
  {% assign sorted = site.software | sort: "date" | reverse %}
  {% for project in sorted %}
    <div class="">
      <a href="{{ site.url }}{{ project.url | relative_url }}">
        <img class="transition-all object-cover invert h-40 w-full saturate-0 hover:saturate-100 hover:invert-0" src="{{ project.img | default: 'https://images.unsplash.com/photo-1554629947-334ff61d85dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib' }}">
        {{ project.title }}</a>
    </div>
  {% endfor %}
</div>
{% endif %}