$on-palm: 600px !default;
$on-laptop: 800px !default;

// typography
$font-path: "./fonts" !default;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@font-face {
  font-family: "karrik";
  src: url("#{$font-path}/Karrik-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "blocus";
  src: url("#{$font-path}/blocuswebfont.woff") format("woff");
}

$karrik: "Jost", monospace;
$alt__font: "blocus", serif;
$font__size: 15px;
$font__weight: 500;
$font__line-height: 1.5;

// colors
$color__black: #344527;
$color__gray: #eeeeee;
$color__beige: #f8f8f1;
$color__yellow: #fefeca;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// elements
* {
  box-sizing: border-box;
}

::selection {
  background: $color__yellow;
}

::-moz-selection {
  background: $color__yellow;
}

hr {
  color: $color__black;
  background-color: $color__black;
}

.alt-font {
  font-family: $alt__font;
  font-weight: bold;
}

.lg {
  font-size: 2.5rem;
}

a {
  color: $color__black;
  text-decoration: none;
  background-image: linear-gradient(120deg, #d5cece 0%, #fde97e 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;

  &:hover {
    background-size: 100% 88%;
    text-decoration: none;
  }
}
a.no-magic {
  background-image: unset;
  background-repeat: unset;
  background-size: unset;
  background-position: unset;
  transition: background-size unset;
  &:hover {
    background-size: unset;
  }
}

a:has(img) {
  background-image: unset;
  background-repeat: unset;
  background-size: unset;
  background-position: unset;
  transition: background-size unset;
  &:hover {
    background-size: unset;
  }
}


// layout
html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: $color__black;
}

body {
  width: 100%;
  // margin: 25px auto;
  // padding: 1rem;
  background: $color__beige;
  color: $color__black;
  font-family: $karrik;
  font-size: $font__size;
  font-weight: $font__weight;
  line-height: $font__line-height;
  letter-spacing: 0.08rem;
  // text-transform: lowercase;
}

.container {
  max-width: 1200px;
  margin: 100px auto;
}

@mixin wavy-underline {
  text-decoration: underline wavy !important;
  text-underline-offset: .8rem;
}

.wavy-underline {
  @include wavy-underline;
}

.wavy-heading {
  @include wavy-underline;
  font-family: 'blocus', serif;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}



