.post__meta {
  margin: 30px 0 20px;
  // border-bottom: 1px solid $color__black;
  overflow: hidden;
  font-weight: 700;
}

.project__meta {
  padding-bottom: 1rem;
  // border-bottom: 1px solid $color__black;
  font-weight: 700;
}

.project__title {
  font-family: $alt__font;
  font-size: 3.5rem;
  max-width: 46ch;
  font-weight: lighter;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.post__paginate {
  overflow: hidden;
}

$paginate-padding: 13px;
.post__paginate-left,
.post__paginate-right {
  position: relative;
  display: block;
}

.post__paginate-left {
  padding-left: $paginate-padding;
  float: left;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\21FD";
  }
}

.post__paginate-right {
  padding-right: $paginate-padding;
  text-align: right;
  float: right;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "\21FE";
  }
}

.post__body {
  padding-bottom: 20px;
  font-family: 'Jost', sans-serif;
  font-weight: lighter;
  margin-top: 2rem;
  border-bottom: 1px solid $color__black;
  line-height: 1.5em;
  font-size: 1.15em;

  strong, b {
    font-weight: 600;
  }

  img, iframe {
    max-width: 600px;
    max-height: 600px;
    max-width: 100%;
  }
  
  pre, code {
    font-size: 12px;
    margin-left: 0;
    max-width: 100%;
  }
  code {
    max-width: 90ch;
  }
  h1, h2, h3, h4 {
    max-width: 40ch;
  }
  p, li, dl {
    max-width: 65ch;
  }

  img {
    // width: 100%;
    max-width: 100%;
  }
}

// media queries
@include media-query($on-laptop) {
  .post {
    min-width: 500px;
  }
}
